<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>layoutsCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F878CDF720F3796700AB4458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F878CE0B20F3796700AB4458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F878CE1620F3796700AB4458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
